
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>密碼產生</title>
    <link rel="stylesheet" href="{% static 'css/web.css' %}">
</head>
<style>
    form {
        text-align: center;
        border-radius: 10px;
        margin: 10px;
    }

    input {
        text-align: center;
    }

    @media screen and (max-width:1920px) {
        form {
            padding: 20px 60px;
        }

        label,
        input,
        button {
            width: 100%;
        }
    }

    @media screen and (max-width:768px) {

        label,
        input,
        button {
            width: 80%;
        }
    }
</style>
<body>
    <h1>我的密碼是</h1>
    <h3>{{ password }}</h3>
    <a href="{% url 'generator' %}"></a>
    <hr>
    <a href="{% url 'login' %}">home</a>
</body>
</html>